torch==1.9.0
catboost==1.0.4
joblib==1.1.0
lightgbm==3.3.2
optuna==2.10.0
streamlit==1.8.1
xgboost==1.5.2
markupsafe==2.0
zenml==0.43
datasets
numpy 
matplotlib 
pandas
numpy>=1.10.4
pandas>=0.17.1
seaborn>=0.7.0
scikit-learn
scipy
notebook
boto3
pyYAML
mypy-boto3-s3
python-box==7.0.1
ensure==1.0.2
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
ensure
orjson
-e .