torch==1.9.0
datasets
numpy 
matplotlib 
pandas
numpy>=1.10.4
pandas>=0.17.1
seaborn>=0.7.0
scikit-learn
scipy
notebook
boto3
pyYAML
mypy-boto3-s3
python-box==7.0.1
ensure==1.0.2
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
ensure
-e .